@import url(font.css);
@import url(style.css);

body {
    background: var(--body-background);
}

#div_main {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#div_main > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* header */
#div_main .header {
    background: url("../assets/images/halie-west-25xggax4bSA-unsplash.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    flex: 2;
}

#div_main .header > div {
    width: 100%;
    position: absolute;
}

#div_main .header .header_logo {
    background: rgba(0, 0, 0, .4);
    top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
}

#div_main .header .header_bg_image {
    height: 100vh;
    width: auto;
}

#div_main .header .header_logo_image {
    width: 15%;
    height: auto;
}

#div_main .header .header_text {
    font: 4.2rem "norsebold", sans-serif;
    color: white;
}

#div_main .header .header_credit {
    bottom: 0;
    display: flex;
    justify-content: center;
}

#div_main .header .header_credit p,
#div_main .header .header_credit p > *{
    color: rgba(255, 255, 255, 0.8);
    font-size: calc(var(--def_font_size) * 0.5);
}

#div_main .header .header_credit p {
    margin: 0 0 1.2rem 0;
}

/* header */

/* right */
#div_main .right {
    background: rgba(255, 255, 255, 0.98);
    flex: 4;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

#div_main .right > div {
    font: var(--def_font_size) "Roboto", sans-serif;
    letter-spacing: var(--def_letter_spacing);
}

#div_main .right .right_text,
#div_main .right .right_form p {
    font-weight: bold;
}

#div_main .right .right_text > p {
    width: min(65%);
    padding: 0 0 0 2rem;
}

#div_main .right .right_text > p:last-child {
    margin: 1.2rem 0 0 0;
}

#div_main .right .right_form {
    width: 100%;
}

#div_main .right .right_form form > * {
    width: 100%;
}

#div_main .right .right_form fieldset p  {
    width: 100%;
    margin: 1rem 2rem;
}

#div_main .right .right_form fieldset  {
    border: none;
    display: flex;
    flex-flow: column wrap;
}

#div_main .right .right_form form .right_form_fillin {
    background: white;
    box-shadow: 0px 5px rgba(20, 20, 20, 0.1);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 0 1.2rem 0;
}

#div_main .right .right_form  form .right_form_fillin > div {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
}

#div_main .right .right_form form .right_form_fillin div > div {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    font-size: calc(var(--def_font_size) * 0.5);
    padding: 0 2rem;
}

#div_main .right .right_form  form div > label {
    font-weight: bold;
    color: rgba(20, 20, 20, 0.8);
    letter-spacing: var(--def_letter_spacing);

    margin: 0 0 5px 0;
}

#div_main .right .right_form form div > input {
    border-radius: 3px;
    /* border:1px solid rgba(0, 0, 0, 0.1); */
    border: 1px solid #E5E7EB;
    padding: 0.4rem;
    margin: 0 0 1.2rem 0;
}

#div_main .right .right_form form div > input + span {
    position: relative;
}

#div_main .right .right_form form div > input + span::before {
    position: absolute;
    top: -46px;
    right: 5px;
}

#div_main .right .right_form form div > input + span::after {
    position: absolute;
    top: -18px;
    left: 0;
}

#div_main .right .right_form form div > input:focus {
    outline: 1px solid blue;
    box-shadow: inset 1px 1px 3px #ccc;
}

#div_main .right .right_form form div > input.error:focus {
    outline: var(--input-outline);
    box-shadow: inset 1px 1px 3px #ccc;
}

#div_main .right .right_form form div > input.hasValue:valid + span::before {
    content: "✓";
    color: green;
    font-size: 1rem;
}

#div_main .right .right_form form div > input.hasValue:invalid + span::before {
    content: "✖";
    color: red;
    font-size: 1rem;
}

#div_main .right .right_form form div > input.hasValue.pwMissmatch + span::before {
    content: "✖";
    color: red;
    font-size: 1rem;
}

#div_main .right .right_form form div > input.error.pwMissmatch:valid + span::after {
    content: "* Passwords do not match";
    color: red;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: calc(var(--def_letter_spacing) * 0.8);
}

#div_main .right .right_form form .right_form_submit button {
    background: #596D48;
    color: white;

    border-radius: 5px;

    padding: 0.6rem 3rem;
    margin: 0 0 0 2rem;
}

#div_main .right .right_login {
    margin: 0 0 0 2rem;
    font-size: calc(var(--def_font_size) * 0.7);
    font-weight: bold;
}

#div_main .right .right_login .right_login_text {
    color: #596D48;
}
/* right */

@media screen and (max-width: 800px) {
    #div_main .header {
        min-width: 100%;
        min-height: 100vh;
    }

    #div_main .right {
        min-width: 100%;
        min-height: 100vh;
        padding: 2rem 0 0 0;
    }

    #div_main .right .right_text > p {
        width: 100%;
        padding: 0 1.2rem;
        text-align: center;
    }

    #div_main .right .right_text > p:last-child {
        margin: 1.2rem 1.2rem 0 0rem;
    }

    #div_main .right .right_form form .right_form_fillin > div {
        width: 100%;
    }

    #div_main .right .right_form form .right_form_fillin div > div {
        width: 100%;
    }

    #div_main .right .right_form fieldset p {
        text-align: center;
    }

    #div_main .right .right_form label,
    #div_main .right .right_form input {
        text-align: center;
    }

    #div_main .right .right_form_submit {
        text-align: center;
    }

    #div_main .right .right_form form .right_form_submit button {
        margin: 0 0 0 0;
    }

    #div_main .right .right_login {
        width: 100%;
        text-align: center;
        margin: 0 0 2rem 0;
    }
}